{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Accommodation at Abroad{% endblock title %}
{% block sidetitle %}Accommodation at Abroad{% endblock sidetitle %}
{% block sidelink %}Accommodation at Abroad{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}