{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Online Weekly IELTS Test{% endblock title %}
{% block sidetitle %}Online Weekly IELTS Test{% endblock sidetitle %}
{% block sidelink %}Online Weekly IELTS Test{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}