{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Permanent Resident{% endblock title %}
{% block sidetitle %}Permanent Resident{% endblock sidetitle %}
{% block sidelink %}Permanent Resident{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}