{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Tour & Travel Package{% endblock title %}
{% block sidetitle %}Tour & Travel Package{% endblock sidetitle %}
{% block sidelink %}Tour & Travel Package{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}