{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Transport for Airport{% endblock title %}
{% block sidetitle %}Transport for Airport{% endblock sidetitle %}
{% block sidelink %}Transport for Airport{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}