{% extends 'user_intrest/base_intrested_user.html' %}
{% block title %}Trevel Insurance{% endblock title %}
{% block sidetitle %}Trevel Insurance{% endblock sidetitle %}
{% block sidelink %}Trevel Insurance{% endblock sidelink %}

{% block usernamee %}{% endblock usernamee %}
{% block useremail %}{% endblock useremail %}
{% block userdistname %}{% endblock userdistname %}
{% block chatlink %}{% endblock chatlink %}
{% block shearlink %}{% endblock shearlink %}
{% block datee %}{% endblock datee %}