{% extends 'admin_base.html' %}
{% block title %}Events{% endblock title %}
{% block body %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Events</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Events</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<!-- Row -->    
<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12  col-xl-6">
                <div class="card" style="width: 95%;">
                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                        <div class="card py-5 border-0" style="margin-bottom: 0;">
                            <div class="row g-0" style="margin-bottom: -15px;">
                                <div class="col-md-2">
                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start" alt="douryou event image" style="margin-top: -12px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <h5 class="card-text fw-bold fs-3">Moga, Punjab</h5>
                                </div>
                                <div class="col-icon"></div>
                                <div class="col-icon2"></div>
                            </div>
                        </div>

                        <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px;">
                        <h6 style="margin-top: 6px; margin-left: 17px; text-align: center;"><b>EDUCATIONAL FAIR</b></h6>
                    </div>

                        <div class="my-5">

                            <input class="form-control form-control-lg border-bottom" type="text"
                                placeholder="Events for 1 Day" aria-label=".form-control-lg example">
                            <input class="form-control mt-3" type="text" placeholder="Date"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3 " type="text" placeholder="Time"
                                aria-label=".form-control-sm example">
                            <input class="form-control mt-3 " type="text" placeholder="Address"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3" type="text"
                                placeholder="Present Consultants" aria-label=".form-control-sm example">
                            <div class="d-grid gap-2">

                                <button class="btn btn-primary mt-5" type="button">Free Entry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12  col-xl-6">
                <div class="card" style="width: 95%;">
                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                        <div class="card py-5 border-0" style="margin-bottom: 0;">
                            <div class="row g-0" style="margin-bottom: -15px;">
                                <div class="col-md-2">
                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start" alt="douryou event image" style="margin-top: -12px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <h5 class="card-text fw-bold fs-3">Moga, Punjab</h5>
                                </div>
                                <div class="col-icon"></div>
                                <div class="col-icon2"></div>
                            </div>
                        </div>

                        <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px;">
                        <h6 style="margin-top: 6px; margin-left: 17px; text-align: center;"><b>EDUCATIONAL FAIR</b></h6>
                    </div>

                        <div class="my-5">

                            <input class="form-control form-control-lg border-bottom" type="text"
                                placeholder="Events for 1 Day" aria-label=".form-control-lg example">
                            <input class="form-control mt-3" type="text" placeholder="Date"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3 " type="text" placeholder="Time"
                                aria-label=".form-control-sm example">
                            <input class="form-control mt-3 " type="text" placeholder="Address"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3" type="text"
                                placeholder="Present Consultants" aria-label=".form-control-sm example">
                            <div class="d-grid gap-2">

                                <button class="btn btn-primary mt-5" type="button">Free Entry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12  col-xl-6">
                <div class="card" style="width: 95%;">
                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                        <div class="card py-5 border-0" style="margin-bottom: 0;">
                            <div class="row g-0" style="margin-bottom: -15px;">
                                <div class="col-md-2">
                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start" alt="douryou event image" style="margin-top: -12px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <h5 class="card-text fw-bold fs-3">Moga, Punjab</h5>
                                </div>
                                <div class="col-icon"></div>
                                <div class="col-icon2"></div>
                            </div>
                        </div>

                        <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px;">
                        <h6 style="margin-top: 6px; margin-left: 17px; text-align: center;"><b>EDUCATIONAL FAIR</b></h6>
                    </div>

                        <div class="my-5">

                            <input class="form-control form-control-lg border-bottom" type="text"
                                placeholder="Events for 1 Day" aria-label=".form-control-lg example">
                            <input class="form-control mt-3" type="text" placeholder="Date"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3 " type="text" placeholder="Time"
                                aria-label=".form-control-sm example">
                            <input class="form-control mt-3 " type="text" placeholder="Address"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3" type="text"
                                placeholder="Present Consultants" aria-label=".form-control-sm example">
                            <div class="d-grid gap-2">

                                <button class="btn btn-primary mt-5" type="button">Free Entry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
        </div>

    </div>
</div>


{% endblock body %}