{% extends 'seller_dashbord_base.html' %}
{% block title %}User’s Requirment{% endblock title %}
{% block body %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">User’s Requirment</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Seller Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User’s Requirment</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<!-- Row -->    
<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12  col-xl-6">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/users/stuavtar.png" class="card-img-left h-40" alt="img" style="    padding: 19px; margin-left: 12px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body" style="margin-bottom: -45px;">
                                    <form class="form-horizontal">
                                        
                                        <div  class="mb-0 row justify-content-end">
                                            <div class="col-md-3" style="font-size: 25px;">
                                                <span id = heart  style="display: flex; justify-content: flex-end;"><i class="fa fa-heart-o" aria-hidden="true" style="display: flex; justify-content: flex-end;"></i> </span>
                                            </div>
                                        </div>

                                        <div class=" row mb-4">
                                            <h5><strong>Name&emsp;&emsp;</strong> : &emsp; naresh</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>E-mail ID&ensp;</strong> : &emsp; naresh@gmail.com</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>Dist. Name</strong> : &emsp; Chandigarh</h5>
                                        </div>
  
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <section style=" margin-left: 26px; width: 93%;">
                        <input type="text" class="form-control border-dark fs-5" id="exampleFormControlInput1" placeholder="Select a category" style="height: 60px ;">
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Add Title"></textarea>
                                    
                        <input type="text" class="form-control border-dark fs-5 mt-3" id="exampleFormControlInput1" placeholder="When you required" style="height: 60px ;">
                                    
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Describe your requirement"></textarea>
                                    
                    </section>
                    <div class="mb-0 row justify-content-end"  style="margin-left: 221px;">
                        <div class="col-md-5">
                            <a href=""  style="font-size: 37px; margin-top: -14px; margin-right: 7px;"><i class="" ></i><?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg style="width: 44px;" enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x34__stroke"><g id="Facebook_Messenger_1_"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="20" width="20"/><path clip-rule="evenodd" d="M70.36,79.802L54.062,62.42    L22.261,79.802l34.981-37.136l16.696,17.383l31.404-17.383L70.36,79.802z M64,0C28.654,0,0,26.531,0,59.259    c0,18.649,9.307,35.283,23.851,46.146V128l21.791-11.96c5.816,1.609,11.977,2.478,18.358,2.478c35.346,0,64-26.531,64-59.259    S99.346,0,64,0z" fill="#007FFF" fill-rule="evenodd" id="Facebook_Messenger"/></g></g></svg></a>
                            <a href=""  style="font-size: 29px; margin-top: -14px;"><i class=""><?xml version="1.0" ?><svg style="width: 44px;" data-name="Layer 1" id="Layer_1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z" fill="#6563ff"/></svg></i></a>
                        </div>
                    </div>
                    <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px; margin-top: 15px;    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;">
                        <h6 style="margin-top: 6px; margin-left: 17px;"><b>Posting Date & Time :-</b></h6>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-12  col-xl-6">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/users/stuavtar.png" class="card-img-left h-40" alt="img" style="    padding: 19px; margin-left: 12px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body" style="margin-bottom: -45px;">
                                    <form class="form-horizontal">
                                        
                                        <div  class="mb-0 row justify-content-end">
                                            <div class="col-md-3" style="font-size: 25px;">
                                                <span id = heart  style="display: flex; justify-content: flex-end;"><i class="fa fa-heart-o" aria-hidden="true" style="display: flex; justify-content: flex-end;"></i> </span>
                                            </div>
                                        </div>

                                        <div class=" row mb-4">
                                            <h5><strong>Name&emsp;&emsp;</strong> : &emsp; naresh</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>E-mail ID&ensp;</strong> : &emsp; naresh@gmail.com</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>Dist. Name</strong> : &emsp; Chandigarh</h5>
                                        </div>
  
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <section style=" margin-left: 26px; width: 93%;">
                        <input type="text" class="form-control border-dark fs-5" id="exampleFormControlInput1" placeholder="Select a category" style="height: 60px ;">
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Add Title"></textarea>
                                    
                        <input type="text" class="form-control border-dark fs-5 mt-3" id="exampleFormControlInput1" placeholder="When you required" style="height: 60px ;">
                                    
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Describe your requirement"></textarea>
                                    
                    </section>
                    <div class="mb-0 row justify-content-end"  style="margin-left: 221px;">
                        <div class="col-md-5">
                            <a href=""  style="font-size: 37px; margin-top: -14px; margin-right: 7px;"><i class="" ></i><?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg style="width: 44px;" enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x34__stroke"><g id="Facebook_Messenger_1_"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="20" width="20"/><path clip-rule="evenodd" d="M70.36,79.802L54.062,62.42    L22.261,79.802l34.981-37.136l16.696,17.383l31.404-17.383L70.36,79.802z M64,0C28.654,0,0,26.531,0,59.259    c0,18.649,9.307,35.283,23.851,46.146V128l21.791-11.96c5.816,1.609,11.977,2.478,18.358,2.478c35.346,0,64-26.531,64-59.259    S99.346,0,64,0z" fill="#007FFF" fill-rule="evenodd" id="Facebook_Messenger"/></g></g></svg></a>
                            <a href=""  style="font-size: 29px; margin-top: -14px;"><i class=""><?xml version="1.0" ?><svg style="width: 44px;" data-name="Layer 1" id="Layer_1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z" fill="#6563ff"/></svg></i></a>
                        </div>
                    </div>
                    <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px; margin-top: 15px;    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;">
                        <h6 style="margin-top: 6px; margin-left: 17px;"><b>Posting Date & Time :-</b></h6>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-12  col-xl-6">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/users/stuavtar.png" class="card-img-left h-40" alt="img" style="    padding: 19px; margin-left: 12px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body" style="margin-bottom: -45px;">
                                    <form class="form-horizontal">
                                        
                                        <div  class="mb-0 row justify-content-end">
                                            <div class="col-md-3" style="font-size: 25px;">
                                                <span id = heart  style="display: flex; justify-content: flex-end;"><i class="fa fa-heart-o" aria-hidden="true" style="display: flex; justify-content: flex-end;"></i> </span>
                                            </div>
                                        </div>

                                        <div class=" row mb-4">
                                            <h5><strong>Name&emsp;&emsp;</strong> : &emsp; naresh</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>E-mail ID&ensp;</strong> : &emsp; naresh@gmail.com</h5>
                                        </div>
                                        <div class=" row mb-4">
                                            <h5><strong>Dist. Name</strong> : &emsp; Chandigarh</h5>
                                        </div>
  
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <section style=" margin-left: 26px; width: 93%;">
                        <input type="text" class="form-control border-dark fs-5" id="exampleFormControlInput1" placeholder="Select a category" style="height: 60px ;">
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Add Title"></textarea>
                                    
                        <input type="text" class="form-control border-dark fs-5 mt-3" id="exampleFormControlInput1" placeholder="When you required" style="height: 60px ;">
                                    
                        <textarea class="form-control mt-3 fs-5 border-dark" id="exampleFormControlTextarea1" rows="3" placeholder="Describe your requirement"></textarea>
                                    
                    </section>
                    <div class="mb-0 row justify-content-end"  style="margin-left: 221px;">
                        <div class="col-md-5">
                            <a href=""  style="font-size: 37px; margin-top: -14px; margin-right: 7px;"><i class="" ></i><?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg style="width: 44px;" enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x34__stroke"><g id="Facebook_Messenger_1_"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="20" width="20"/><path clip-rule="evenodd" d="M70.36,79.802L54.062,62.42    L22.261,79.802l34.981-37.136l16.696,17.383l31.404-17.383L70.36,79.802z M64,0C28.654,0,0,26.531,0,59.259    c0,18.649,9.307,35.283,23.851,46.146V128l21.791-11.96c5.816,1.609,11.977,2.478,18.358,2.478c35.346,0,64-26.531,64-59.259    S99.346,0,64,0z" fill="#007FFF" fill-rule="evenodd" id="Facebook_Messenger"/></g></g></svg></a>
                            <a href=""  style="font-size: 29px; margin-top: -14px;"><i class=""><?xml version="1.0" ?><svg style="width: 44px;" data-name="Layer 1" id="Layer_1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z" fill="#6563ff"/></svg></i></a>
                        </div>
                    </div>
                    <div style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px; margin-top: 15px;    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;">
                        <h6 style="margin-top: 6px; margin-left: 17px;"><b>Posting Date & Time :-</b></h6>
                    </div>
                    
                </div>
            </div>
            
            
            
            
        </div>

    </div>
</div>


{% endblock body %}