{% extends 'seller_dashbord_base.html' %}
{% block title %}Demo Class{% endblock title %}
{% block body %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Demo Class</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Seller Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Demo Class</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<!-- Row -->    
<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12  col-xl-12">
                <div class="card">
                    <div style="    text-align: center; margin-top: 23%; margin-bottom: 25%; font-size: 15px;">
                        <h2><strong>Coming Soon</strong></h2>
                        <p>As Soon as Possible...</p>
                    </div>

                </div>
        </div>

    </div>
</div>


{% endblock body %}