{% extends 'seller_dashbord_base.html' %}
{% block title %}Book Event{% endblock title %}
{% block body %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Book Event</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Seller Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Book Event</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<!-- Row -->
<div class="row ">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-12  col-xl-6">
                <a href="#" style="color: black;" data-bs-toggle="modal" data-bs-target="#hendelevent">
                    <div class="card" style="width: 95%;">
                        <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                            <div class="card py-5 border-0" style="margin-bottom: 0;">
                                <div class="row g-0" style="margin-bottom: -15px;">
                                    <div class="mb-0 row justify-content-end">
                                        <div class="col-md-3" style="font-size: 25px;">
                                            <span style="display: flex; justify-content: flex-end;color: red; margin-bottom: -26px;;
                                        font-size: 30px; "><i class="fa fa-trash-o" aria-hidden="true"
                                                    style="display: flex; justify-content: flex-end;"></i> </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start"
                                            alt="douryou event image" style="margin-top: -12px;">
                                    </div>
                                    <div class="col-md-8" style="padding: 0;">
                                        <h5 class="card-text fw-bold fs-3" style="margin-top: 13px; margin-left: 13px;">
                                            Moga, Punjab</h5>
                                    </div>
                                    <div class="col-icon"></div>
                                    <div class="col-icon2"></div>
                                </div>
                            </div>


                            <div class="my-5" style="margin-bottom: -0.5rem !important; margin-top: 0.5rem !important;">
                                <div class="card">
                                    <div class="card-body" style="border: 2px solid #676bdc; border-radius: 11px; ">
                                        <form class="form-horizontal">

                                            <div class=" row mb-4">
                                                <h5><strong>Event Date&emsp;&emsp;</strong> : &emsp; 12-10-2023</h5>
                                            </div>
                                            <div class=" row mb-4">
                                                <h5><strong>Event Duration&ensp;</strong> : &emsp; 6 days</h5>
                                            </div>
                                            <div class=" row mb-4">
                                                <h5><strong>Event Type&emsp;&emsp;&ensp;</strong> : &emsp; Marrige Function</h5>
                                            </div>
                                            <div class=" row">
                                                <h5><strong>No. of Stalls&emsp;&emsp;</strong> : &emsp; 23</h5>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: flex; justify-content: end;">
                                <div class="col-sm-12" style="    display: flex; justify-content: end;    margin-top: -10px;">
                                    <a href="" style="color: red; font-size: 25px; "><i class="fa-brands fa-man-messenger" aria-hidden="true"></i><svg
                                            style="width: 40px; margin-bottom: 12px;    margin-right: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z" />
                                        </svg></a>
                                    <a href="" style="color: blue; font-size: 25px; "><i class="" aria-hidden="true"></i><svg style="width: 35px; margin-bottom: 12px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM320 96C284.7 96 256 124.7 256 160C256 162.5 256.1 164.9 256.4 167.3L174.5 212C162.8 199.7 146.3 192 128 192C92.65 192 64 220.7 64 256C64 291.3 92.65 320 128 320C146.3 320 162.8 312.3 174.5 299.1L256.4 344.7C256.1 347.1 256 349.5 256 352C256 387.3 284.7 416 320 416C355.3 416 384 387.3 384 352C384 316.7 355.3 288 320 288C304.6 288 290.5 293.4 279.4 302.5L194.1 256L279.4 209.5C290.5 218.6 304.6 224 320 224C355.3 224 384 195.3 384 160C384 124.7 355.3 96 320 96V96z" />
                                        </svg></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </a>

                <!--modelllllllllll-->
                <div class="modal fade" id="hendelevent">
                    <div class="modal-dialog modal-dialog-centered text-center modal-lg" role="document">
                        <div class="modal-content modal-content-demo">
                            <div class="modal-header">
                                <h6 class="modal-title">Book Event</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                               
                                <div class="card" style="border: 2px solid #676bdc; border-radius: 11px; ">
                                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px; border: 2px solid black; text-align: left;">
                                        <div class="card py-5 border-0" style="margin-bottom: -13px;">
                                            <div class="row g-0" style="margin-bottom: -15px;">
                                                <div class="mb-0 row justify-content-end">
                                                    <div class="col-md-3" style="font-size: 25px;">
                                                        <span style="display: flex; justify-content: flex-end;color: red; margin-bottom: -26px;;
                                                    font-size: 30px; "><i class="fa fa-trash-o" aria-hidden="true"
                                                                style="display: flex; justify-content: flex-end;"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start"
                                                        alt="douryou event image" style="margin-top: -12px;">
                                                </div>
                                                <div class="col-md-8" style="padding: 0;">
                                                    <h5 class="card-text fw-bold fs-3" style="margin-top: 13px; margin-left: 13px;">
                                                        Moga, Punjab</h5>
                                                </div>
                                                <div class="col-icon"></div>
                                                <div class="col-icon2"></div>
                                            </div>
                                        </div>
            
            
                                        <div class="my-5" style="margin-bottom: -0.5rem !important; margin-top: 0.5rem !important;">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form class="form-horizontal">
            
                                                        <div class=" row mb-4">
                                                            <h5><strong>Event Date&emsp;&emsp;</strong> : &emsp; 12-10-2023</h5>
                                                        </div>
                                                        <div class=" row mb-4">
                                                            <h5><strong>Event Address&ensp;</strong> : &emsp; 12-PSO, OIIOSB, asdbakj</h5>
                                                        </div>

                                                        <div class="my-5" style="margin-bottom: -0.5rem !important; margin-top: 0.5rem !important;">
                                                            <div class="card">
                                                                <div class="card-body" style="    border: 2px solid black; border-radius: 12px;">
                                                                    <form class="form-horizontal">
                            
                                                                        <div class=" row mb-4">
                                                                            <h5><strong>Company Name&emsp;&emsp;</strong> : &emsp; this is comapnt name</h5>
                                                                        </div>
                                                                        <div class=" row mb-4">
                                                                            <h5><strong>Address&emsp;&emsp;&emsp;&emsp;&emsp;</strong> : &emsp; compant ka addresscompant ka address</h5>
                                                                        </div>
                                                                        <div class=" row mb-4">
                                                                            <h5><strong>Contact Parson&emsp;&emsp;</strong> : &emsp; mohan</h5>
                                                                        </div>
                                                                        <div class=" row">
                                                                            <h5><strong>Desigation&emsp;&emsp;&ensp;&emsp;</strong> : &emsp; CEO</h5>
                                                                        </div>
                                                                        <div class=" row">
                                                                            <h5><strong>Contact No.&emsp;&emsp;&emsp;</strong> : &emsp; 83428342984</h5>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class=" row mb-4">
                                                            <h5><strong>Size of Stall&emsp;&emsp;&ensp;</strong> : &emsp; 12 x 20</h5>
                                                        </div>
                                                        <div class=" row">
                                                            <h5><strong>Rent of Stall&emsp;&emsp;</strong> : &emsp; 3</h5>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-warning" type="submit" value="send" style="width: 34%; background-color: red!important; margin-left: 7px;">My Stall</button>

                                        <div class="row" style="display: flex; justify-content: end;">
                                            <div class="col-sm-12" style="display: flex; justify-content: end;    margin-top: -42px;">
                                                <a href="" style="color: red; font-size: 25px; "><i class="fa-brands fa-man-messenger" aria-hidden="true"></i><svg
                                                        style="width: 40px; margin-bottom: 12px;    margin-right: 15px;"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z" />
                                                    </svg></a>
                                                <a href="" style="color: blue; font-size: 25px; "><i class="" aria-hidden="true"></i><svg style="width: 35px; margin-bottom: 12px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                        <path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM320 96C284.7 96 256 124.7 256 160C256 162.5 256.1 164.9 256.4 167.3L174.5 212C162.8 199.7 146.3 192 128 192C92.65 192 64 220.7 64 256C64 291.3 92.65 320 128 320C146.3 320 162.8 312.3 174.5 299.1L256.4 344.7C256.1 347.1 256 349.5 256 352C256 387.3 284.7 416 320 416C355.3 416 384 387.3 384 352C384 316.7 355.3 288 320 288C304.6 288 290.5 293.4 279.4 302.5L194.1 256L279.4 209.5C290.5 218.6 304.6 224 320 224C355.3 224 384 195.3 384 160C384 124.7 355.3 96 320 96V96z" />
                                                    </svg></a>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



























            

            <div class="col-md-12  col-xl-6">
                <div class="card" style="width: 95%;">
                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                        <div class="card py-5 border-0" style="margin-bottom: 0;">
                            <div class="row g-0" style="margin-bottom: -15px;">
                                <div class="col-md-2">
                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start"
                                        alt="douryou event image" style="margin-top: -12px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <h5 class="card-text fw-bold fs-3">Moga, Punjab</h5>
                                </div>
                                <div class="col-icon"></div>
                                <div class="col-icon2"></div>
                            </div>
                        </div>

                        <div
                            style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px;">
                            <h6 style="margin-top: 6px; margin-left: 17px; text-align: center;"><b>EDUCATIONAL FAIR</b>
                            </h6>
                        </div>

                        <div class="my-5">

                            <input class="form-control form-control-lg border-bottom" type="text"
                                placeholder="Events for 1 Day" aria-label=".form-control-lg example">
                            <input class="form-control mt-3" type="text" placeholder="Date"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3 " type="text" placeholder="Time"
                                aria-label=".form-control-sm example">
                            <input class="form-control mt-3 " type="text" placeholder="Address"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3" type="text"
                                placeholder="Present Consultants" aria-label=".form-control-sm example">
                            <div class="d-grid gap-2">

                                <button class="btn btn-primary mt-5" type="button">Free Entry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12  col-xl-6">
                <div class="card" style="width: 95%;">
                    <div class="row bg-white" style="border-radius: 12px; margin-right: 5px;">
                        <div class="card py-5 border-0" style="margin-bottom: 0;">
                            <div class="row g-0" style="margin-bottom: -15px;">
                                <div class="col-md-2">
                                    <img src="/static/images/users/stuavtar.png" class="img-fluid rounded-start"
                                        alt="douryou event image" style="margin-top: -12px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <h5 class="card-text fw-bold fs-3">Moga, Punjab</h5>
                                </div>
                                <div class="col-icon"></div>
                                <div class="col-icon2"></div>
                            </div>
                        </div>

                        <div
                            style="width: 100%; padding: 2px; background-color: blue; color: white; margin-bottom: -1px;">
                            <h6 style="margin-top: 6px; margin-left: 17px; text-align: center;"><b>EDUCATIONAL FAIR</b>
                            </h6>
                        </div>

                        <div class="my-5">

                            <input class="form-control form-control-lg border-bottom" type="text"
                                placeholder="Events for 1 Day" aria-label=".form-control-lg example">
                            <input class="form-control mt-3" type="text" placeholder="Date"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3 " type="text" placeholder="Time"
                                aria-label=".form-control-sm example">
                            <input class="form-control mt-3 " type="text" placeholder="Address"
                                aria-label="default input example">
                            <input class="form-control form-control-sm mt-3" type="text"
                                placeholder="Present Consultants" aria-label=".form-control-sm example">
                            <div class="d-grid gap-2">

                                <button class="btn btn-primary mt-5" type="button">Free Entry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>


{% endblock body %}